<ul>
  <li class="ml-3"><%= link_to "Resend password reset link", new_password_reset_path %></li>
  <li class="ml-3"><%= link_to "Go to login page", new_sessions_path %></li>
  <li class="ml-3"><%= link_to "Go to signup page", new_user_path %></li>
</ul>
